
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.imghome{
width: 100%;
height: auto;
margin-bottom: 0px;
padding-bottom: 0px;
display: block;

}

.blocohome{
    margin:0;
    padding:0;
}