.img-menugrupo {
  width: 100%;
  height: auto;
  margin: auto;
}

.menugrupo-description p {
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.menugrupo-description {
  padding: 100px;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 40px;
}

/* MenuEmGrupo.css */

.menu-titulo {
  text-align: center;
  margin-bottom: 40px;
  padding: 100px;
  padding-top: 20px;
  padding-bottom: 3px;
  margin: auto;
}
.meu-titulo p {
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.menu-titulo-button{
 text-align: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #F26938;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}

.dropdown {
  position: relative; 
}

.dropdown-button {
  padding: 30px 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: #E5EAE6;
  border: 1px solid #cac8c8;
  border-radius: 8px;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #E5EAE6;
  border: 1px solid #e2e0e0;
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none; /* Oculta o menu inicialmente */
  font-size: 12px;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.dropdown-menu li {
  padding: 5px 0;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* Exibe o menu quando o estado estiver ativo */
.dropdown.open .dropdown-menu {
  display: block;
}
