.footer {
    
    height: 150px;
    background-color: #F2F2F2;
    padding: 20px;
    padding-top: 3px;
    margin-top: 0px;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.footer-content {
    
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.footer-content-span {
    font-size: 10px;
    text-align: start;
    margin-bottom: 0px;
    margin-top: 0px; 
}

.pfooter{
    font-size: 15px;
    text-align: start;
 

}
.redessociais {
    display: flex;
    gap: 10px; 
    margin-top: 70px;
    padding-top: 0px;
    padding: 15px;
   
}

.imgredessociais {
    width: 20px;
}
 